html {
	height: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	scroll-behavior: smooth;
}


body {
	font-family: "Poppins" , "Arial", "sans-serif";
	font-weight: 600;
	font-size: 25px;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}

img {
	vertical-align: middle;
}

hr{
	margin: 0;
}

.site-main{
	flex-grow: 1;
}