.carousel {
  width: 100%;
  max-width: 100vw;
  padding-top: 55px;
  padding-bottom: 140px;
  background-color: #f5f5f5;
  overflow-x: hidden;
}

.carousel__info {
  width: 100%;
  max-width: 545px;
  margin-bottom: 32px;
}

.btn:focus{
  color: white;
  border: none;
  background-color:skyblue;
  outline: none;
  box-shadow: none;
}

.btn:hover{
  color: white;
  border: none;
  background-color:skyblue;
  outline: none;
  box-shadow: none;
}

.carousel__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #222222;
  margin-bottom: 32px;
}

.carousel__text {
  font-weight: 400;
  font-size: 16px;
  color: #525252;
}

.spin__list {
  display: flex !important;
  overflow-x: hidden;
}

.spin__item {
  width: 100%;
  max-width: 300px;
  padding: 30px 30px 28px 28px;
  margin-right: 20px;
  margin-left: 20px;
border-radius: 20px;
box-shadow: rgba(149, 157, 165, 0.2) 0px 3px 10px;
}

.spin__btn {
  padding-right: 35px;
  background-color: #0cbe6426;
  border-radius: 8px;
}

.spin__title {
  font-weight: 600;
  font-size: 20px;
}

.spin__text {
  font-weight: 400;
  font-size: 12px;
}

.spin__btn--two {
  background-color: #fbe5e5;
}

.spin__btn--thre {
  color: #b000dc;
  background-color: #f6e3fb;
}

.spin__btn--four {
  background-color: #e8f0fc;
}

.spin__link {
  font-weight: 500;
  font-size: 14px;
  
  &::after {
    content: "";
    width: 12px;
    height: 12px;
    background-image: url(../images/here.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    margin-top: 2px;
    margin-left: 12px;
  }
}

.slick-prev{
  top: 545px;
  right: 75px;
  background-color: white;
  z-index: 100;
  position: absolute;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
  transform: rotate(-180deg);
  &::before{
    content: "";
    width: 8px;
    height: 14px;
    background-image: url(../images/right.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
  }
}

.slick-next{
  top: 545px;
  right: 20px;
  background-color: white;
  z-index: 100;
  position: absolute;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
  transform: rotate(-180deg);
  &::before{
    content: "";
    width: 8px;
    height: 14px;
    background-image: url(../images/left.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
  }
}




@media only screen and (min-width: 400px) {
  .spin__item {
    margin-right: 38px;
    margin-left: 0px;
  }
}

@media only screen and (min-width: 768px) {
  .carousel {
    padding-top: 70px;
    padding-bottom: 100px;
  }
  
  .carousel__info {
    margin-bottom: 65px;
  }
  
  .carousel__title {
    font-size: 30px;
  }
  
  .spin__item {
    max-width: 378px;
    padding: 35px 39px 44px 35px;
  }
  
  .spin__text {
    font-size: 14px;
  }
}

@media only screen and (min-width: 800px) {
  .slick-prev{
    top: 130px;
    right: 153px;
  }
  
  .slick-next{
    top: 130px;
    right: 90px;
  }
}




