.site-header {
  background-color: #e37808;
}

.dropdown-toggle::after {
  display: none !important;
}

.nav__button {
  border: none;
  background-color: transparent;
}

.nav__lits {
  height: 100%;
  max-height: 200px;
  position: relative;
  top: 15px !important;
  background-image: url(../images/hero-bg.png);
  background-repeat: no-repeat;
  background-size: 800px;
  background-position: calc(50%) calc(50% + 30px);
}

.second__list {
  margin: 0 !important;
  padding: 0 !important;
}

.second__item {
  padding: 0 !important;
  margin: 0 !important;
}

.second__link--plus {
  position: relative;
  margin-left: 0 !important;
}

.second__link:nth-child(2) {
  margin-left: 87px;
}

.second__link--plus:nth-child(1)::before {
  content: "";
  width: 11px;
  height: 11px;
  background-image: url(../images/dot.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  margin-right: 3px;
}

.second__link {
  margin-left: 68px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.second__link--one {
  margin-left: 87px;
}

.second__link--two {
  margin-left: 74px;
}

.second__link--thri {
  margin-left: 64px;
}

.second__link--last {
  margin-right: 0;
}
