.printing {
  padding-top: 48px;
  padding-bottom: 100px;
}

.printing__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 187.5%;
  text-align: center;
  color: #222222;
}

.printing__cover {
  width: 100%;
  max-width: 826px;
}

.information__wrap {
  width: 100%;
  max-width: 545px;
}

.information__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 187.5%;
  color: #525252;
}

.printing__pic {
  // overflow-x: hidden;
  width: 80%;
  // max-width: 320px;
  position: relative;
  z-index: 1;
}

.printing__pic::after {
  content: "";
  width: 78px;
  height: 62px;
  top: -23px;
  right: -23px;
  background-image: url(../images/dots.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  background-position: center;
  z-index: -1;
}

@media only screen and (min-width: 768px) {
  .printing {
    padding-top: 83px;
    padding-bottom: 165px;
  }

  .printing__title {
    font-size: 25px;
  }

  .printing__info {
    padding-left: 90px;
  }

  .printing__pic {
    max-width: 934px;
  }

  .printing__pic::after {
    content: "";
    width: 169px;
    height: 154px;
    top: -67px;
    right: -69px;
    background-image: url(../images/dots.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    background-position: center;
    z-index: -1;
  }
}
